body {
    margin: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .scene {
    width: 300px;
    perspective: 1000px;
    position: relative;
  }
  
  .flap-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
    transform-origin: top center;
    transform-style: preserve-3d;
    transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .quest-badge {
    position: absolute;
    top: 55px;
    left: 24%;
    width: 68px;
    height: 48px;
    transform: translateZ(10px);
    transition: opacity 0.25s ease;
  }
  
  .envelope {
    position: relative;
    width: 100%;
    transform-origin: bottom center;
    transform: translateY(80px) scale(0.5);
    opacity: 0;
    animation: revealFromBottom 1s ease-out forwards;
  }
  
  @keyframes revealFromBottom {
    0% {
      transform: translateY(200px) scale(0.5);
      opacity: 0;
    }
  
    65% {
      transform: translateY(-10px) scale(1);
      opacity: 1;
    }
  
    82% {
      transform: translateY(10px) scale(1);
    }
  
    100% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }
  
  .envelope img {
    position: absolute;
    display: block;
   
  }
  
  
  .envelope-back {
    z-index: 0;
    transform: translateZ(-20px);
  }
  
  /*
  .letter {
    left: 50%;
    bottom: 20px;
    width: 90px;                 
    transform:
      translateX(-50%)
      translateY(40px)
      translateZ(-5px);
    opacity: 0;
    z-index: 1;
    transition:
      transform 0.6s ease,
      opacity 0.4s ease;
  } */
  
  
  .envelope-front {
    position: relative;
    z-index:5;
    transform: translateZ(0);
  }
  
  .envelope-flap {
    display: block;
    transform: translateZ(1px);
  }
  .stamp {
    position: absolute;
    z-index: 4;
    top: 35px; 
    left: 24%;
    width: 68px;
    transform: translateY(0);
    opacity: 0;
    transform: translateY(20px) translateZ(-10px);
    transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s ease;
  }
  
  .stamp.slide-out {
    transform: translateY(-130px) translateZ(0);
    opacity: 1;
  }
  
  .stamp.front {
    z-index: 7; 
  }
  .stamp.scale {
    transform: scale(2);
  }
  .envelope.fade-out > *:not(.stamp) {
    opacity: 0;
    transition: opacity 0.8s ease;
  }
  
  @keyframes fadeEnvelope {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  